<!DOCTYPE HTML>
<html lang="en">
<head>
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

  <script type="text/javascript" src="<%= parentTier %>Docing/resources/depends/jquery/jquery.min.js"></script>

  <script type="text/javascript" src="<%= parentTier %>Docing/resources/depends/jqueryui/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="<%= parentTier %>Docing/resources/depends/jqueryui/jquery-ui.min.css">

  <script type="text/javascript" src="<%= parentTier %>Docing/resources/depends/jstree/jstree.js"></script>
  <link rel="stylesheet" href="<%= parentTier %>Docing/resources/depends/jstree/themes/default/style.css">

  <link rel="stylesheet" href="<%= parentTier %>Docing/resources/docing.css">
  <script type="text/javascript" src="<%= parentTier %>Docing/resources/docing.js"></script>
  <style> 
  </style>
</head>
<body>
  <div id="jstree">ft</div>
  <div class="container">
    <div class="background"></div>
    <div id="handler-vertical"></div>
    <% 
    var i = 1;
    _.each(splitList, function(item) { %>
    <div id="<%= 'row-' + i %>" name="<%= 'row-' + i %>">
      <ul class="row">
<!--         <li class="comment-anchor"><a href="#<%= 'row-' + i %>"><img src="Docing/resources/imgs/anchor_16_16.png" width="10px" height="10px" /></a></li> -->
        <li class="comment">
          <%= mk(item.comment) %>
        </li>
        <li class="code-anchor"><a href="#<%= 'row-' + i %>"><img src="<%= parentTier %>Docing/resources/imgs/anchor_16_16.png" width="10px" height="10px" /></a></li>
        <li class="code">
          <pre><%= hljs.highlight(lc.lang, item.code).value %></pre>
        </li>
      </ul>
    </div>
    <% i++;
      }); %>
  </div>
  <div id="footer"></div>
</body>
</html>
