/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*---------------------- Font ---------------------*/
@font-face {
  font-family: "Anonymous Pro";
  src: url("../resources/fonts/Anonymous Pro regular.ttf");
}

@font-face {
  font-family: "Anonymous Pro Italic";
  src: url("../resources/fonts/Anonymous Pro italic.ttf");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../resources/fonts/Source Code Pro regular.ttf");
}

@font-face {
  font-family: "Source Code Pro 500";
  src: url("../resources/fonts/Source Code Pro 500.ttf");
}

/* line 26, ../sm-generate/sass/_custom.scss */
html {
  height: 100%;
}

/* line 28, ../sm-generate/sass/_custom.scss */
body {
  font-family: "aller-light";
  font-size: 14px;
  color: #30404f;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ECF1F7;
}

/* line 38, ../sm-generate/sass/_custom.scss */
#jstree {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  overflow-y: scroll;
  height: 80%;
}

/* line 47, ../sm-generate/sass/_custom.scss */
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  border-right: 1px solid #e5e5ee;
  z-index: -1;
}

/* line 57, ../sm-generate/sass/_custom.scss */
.container {
  position: relative;
  width: 100%;
}
/* line 61, ../sm-generate/sass/_custom.scss */
.container > div {
  clear: both;
}
/* line 65, ../sm-generate/sass/_custom.scss */
.container ul {
  -webkit-padding-start: 0px;
  list-style: none;
  margin: 0;
}
/* line 69, ../sm-generate/sass/_custom.scss */
.container ul.row {
  display: inline;
  width: 100%;
  display: inline-block;
}

/* line 77, ../sm-generate/sass/_custom.scss */
.code {
  font-family: "Source Code Pro";
  padding: 5px 10px 5px 30px;
  word-wrap: normal;
  font-size: 12px;
}

/* line 84, ../sm-generate/sass/_custom.scss */
.code-anchor {
  padding: 5px 0px 5px 5px;
  display: none;
  float: left;
}

/* line 90, ../sm-generate/sass/_custom.scss */
.comment {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  height: 100%;
  text-align: left;
  padding: 5px 10px 5px 30px;
  word-wrap: normal;
  float: left;
  line-height: 22px;
}

/* line 101, ../sm-generate/sass/_custom.scss */
.comment-anchor {
  float: left;
  padding: 5px 0px;
}

/* line 107, ../sm-generate/sass/_custom.scss */
#handler-vertical {
  width: 40%;
  min-width: 20%;
  max-width: 80%;
  padding: 5px 0;
  top: -5px;
  left: 0;
  bottom: 0px;
  position: absolute;
  top: -5px;
  border-right: 2px solid lightblue;
}

/* line 126, ../sm-generate/sass/_custom.scss */
.highlight-text {
  background-color: rgba(211, 221, 243, 0.5);
}

/*---------------------- Low resolutions (> 320px) ---------------------*/
@media only screen and (min-width: 320px) {
  /* line 136, ../sm-generate/sass/_custom.scss */
  .comment {
    width: 100%;
  }

  /* line 139, ../sm-generate/sass/_custom.scss */
  #handler-vertical {
    width: 0px;
  }

  /* line 143, ../sm-generate/sass/_custom.scss */
  .background {
    width: 0px;
  }
}
/*----------------------  (> 481px) ---------------------*/
@media only screen and (min-width: 481px) {
  /* line 151, ../sm-generate/sass/_custom.scss */
  .code {
    margin-left: 200px;
  }

  /* line 155, ../sm-generate/sass/_custom.scss */
  .comment {
    width: 160px;
  }

  /* line 159, ../sm-generate/sass/_custom.scss */
  #handler-vertical {
    width: 200px;
  }

  /* line 163, ../sm-generate/sass/_custom.scss */
  .background {
    width: 200px;
  }
}
/*---------------------- (> 1025px) ---------------------*/
@media only screen and (min-width: 1025px) {
  /* line 170, ../sm-generate/sass/_custom.scss */
  .code {
    margin-left: 450px;
  }

  /* line 174, ../sm-generate/sass/_custom.scss */
  .comment {
    width: 410px;
  }

  /* line 178, ../sm-generate/sass/_custom.scss */
  #handler-vertical {
    width: 450px;
  }

  /* line 182, ../sm-generate/sass/_custom.scss */
  .background {
    width: 450px;
  }
}
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/
/* line 7, ../sm-generate/sass/_highlightjs.scss */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
  -webkit-text-size-adjust: none;
}

/* line 22, ../sm-generate/sass/_highlightjs.scss */
.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-doctype,
.hljs-pi,
.lisp .hljs-string,
.hljs-javadoc {
  color: #93a1a1;
}

/* Solarized Green */
/* line 34, ../sm-generate/sass/_highlightjs.scss */
.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #859900;
}

/* Solarized Cyan */
/* line 48, ../sm-generate/sass/_highlightjs.scss */
.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rules .hljs-value,
.hljs-phpdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #2aa198;
}

/* Solarized Blue */
/* line 61, ../sm-generate/sass/_highlightjs.scss */
.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function {
  color: #268bd2;
}

/* Solarized Yellow */
/* line 74, ../sm-generate/sass/_highlightjs.scss */
.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #b58900;
}

/* Solarized Orange */
/* line 92, ../sm-generate/sass/_highlightjs.scss */
.hljs-preprocessor,
.hljs-preprocessor .hljs-keyword,
.hljs-pragma,
.hljs-shebang,
.hljs-symbol,
.hljs-symbol .hljs-string,
.diff .hljs-change,
.hljs-special,
.hljs-attr_selector,
.hljs-subst,
.hljs-cdata,
.clojure .hljs-title,
.css .hljs-pseudo,
.hljs-header {
  color: #cb4b16;
}

/* Solarized Red */
/* line 98, ../sm-generate/sass/_highlightjs.scss */
.hljs-deletion,
.hljs-important {
  color: #dc322f;
}

/* Solarized Violet */
/* line 103, ../sm-generate/sass/_highlightjs.scss */
.hljs-link_label {
  color: #6c71c4;
}

/* line 107, ../sm-generate/sass/_highlightjs.scss */
.tex .hljs-formula {
  background: #eee8d5;
}
